doctype html
html
    head
        link( rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png")
        link( rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png")
        link( rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png")
        link( rel="manifest" href="/favicon_io/site.webmanifest")
        link(rel="stylesheet" type="text/css" href="/styles/common.css" media="screen")
        block styles            
        script( src="/scripts/common.js")
        block scripts
    body
        header
            h1= "Brasspoll"
            p= "Create polls powered by strawpoll.me with extended features."
        main(class="display_flex")
            .flex1
                div(class="content_zone")
                    block content_zone_left       
            .flex1
                div(class="content_zone")
                    block content_zone_right
        footer
            h6= "foot"

        block inline_scripts
