extends common.pug

block styles
    link(rel="stylesheet" type="text/css" href="/styles/details.css" media="screen")

block content_zone_left     
    table(id="information")       
    table(id="selected_options" class="options_table")
        tbody
            include selected_options.pug

block content_zone_right
    div(class="information")      
    iframe(src=`https://www.strawpoll.me/embed_1/${poll_id}` id="strawpoll_embed" onload="resizeStrawpoll(this)")= 'Loading poll...' 
    .display_flex
        input(type="text" id="strawpoll_url" class="to_clipboard_value" value=`https://strawpoll.me/${poll_id}` readonly)
        input(type="button" class="to_clipboard_trigger" value="Copy to clipboard" onclick="copyStrawpollUrlToClipboard()")
    .display_flex
        input(type="text" id="brasspoll_url" class="to_clipboard_value" value=`/view/${poll_id}` readonly)
        input(type="button" class="to_clipboard_trigger" value="Copy to clipboard" onclick="copyBrasspollUrlToClipboard()")
    .display_flex
        input(type="button" class="new_poll_trigger flex1" value="Create fresh poll" onclick=`window.location.href = '/';`)
        input(type="button" class="new_poll_trigger flex1" value="Create poll from this one" onclick=`window.location.href = '/${poll_id}/renew';`)

block inline_scripts
    script(src="/scripts/details.js")