// Generated file
details
    summary= "Steam store"
    label
        = "Enable: "
        input(type="checkbox" checked="true" name="enabled" value="enabled" data-plugin="steam" onchange="updateConfigVar(this)")
        br
    details
    summary= "Internet Game Database"
    label
        = "Enable: "
        input(type="checkbox" checked="true" name="enabled" value="enabled" data-plugin="igdb" onchange="updateConfigVar(this)")
        br
    