// Generated file
div
    details
        summary= "Steam store"
        label
            = "Enable: "
            input(type="checkbox" checked="true" name="enabled" value="enabled" data-plugin="steam" onchange="updateConfigVar(this)")
            br
        