/* VARS */

:root {
    --darkest-bg-color: #000d1a;
    --halfdark-bg-color: #121212;
    --light-bg-color: #191919;
    --bright-bg-color: #212121;
    --default-text-color: #d9d9d9;
    --disabled-text-color: #808080;
    --option-row-height: 3em;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* DOCUMENT */

html, body {
    background-color: var(--halfdark-bg-color);
    color: var(--default-text-color);
    padding: 0;
    margin: 0;
    height: 100%;
    /* font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    background-color: var(--darkest-bg-color);
    text-align: center;
    padding: 1em;
    margin: 0;
    border-bottom: 2px inset #333;
}

header * {
    padding: 0;
    margin: 0;
}

main {
    padding: 1em;
    height: auto;
    flex: 1 0 auto;
}

footer {
    background-color: var(--darkest-bg-color);
    text-align: center;
    padding: 1em;
    margin: 0;
    border-top: 2px outset #333;
    flex-shrink: 0;
}

.display_flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex_left {
    flex: 1;
}

.flex_right {
    flex: content;
}

.content_zone {
    margin: 0.5em;
    padding: 0.5em;
    border: 2px outset #333;
    background-color: var(--darkest-bg-color);
}

.options_table {
    border-collapse: collapse;
    border: 2px outset #333;
    padding: 0;
    margin: 0.5em;
}

.options_table>tbody>tr {
    background-color: var(--halfdark-bg-color);
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* supported by Chrome and Opera */
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

.options_table>tbody>tr:nth-child(odd) {
    background-color: var(--light-bg-color);
}

.options_table>tbody>tr:hover {
    background-color: var(--bright-bg-color);
}

.option_row>td {
    height: var(--option-row-height);
    padding: 0;
    margin: 0;
}

.option_origin_images {
    position: relative;
    background-color: black;
    line-height: 0;
    align-content: flex-end;
    text-align: right;
}

.option_origin_images .option_origin_images_main {
    object-fit: contain;
    height: var(--option-row-height);
}

.option_origin_images .option_origin_images_icon {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    height: 1em;
}

.option_row_detail {
    display: none;
}

.option_row_detail.open {
    display: table-row;
    height: 100%;
    overflow: hidden;
}

.option_row_detail td {
    width: 100%;
}

.option_row td h3 {
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

iframe {
    width: 100%;
    height: 100%;
    border: 1px solid var(--halfdark-bg-color);
    margin: 0;
    padding: 0;
}

.option_row_detail.open iframe {
    display: block;
}

details {
    margin: 1em;
    outline: none;
    border: 2px outset #333;
    border-radius: 3px;
    background-color: var(--halfdark-bg-color);
}

details summary {
    background-color: var(--light-bg-color);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 2px inset #333;
    padding: 0.25em;
}

*:focus {
    outline: none;
}

.configuration label {
    margin: 1em;
    padding: 1em;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: var(--light-bg-color);
    display: inline-block;
}

input[type=text], input[type=search] {
    background-color: var(--light-bg-color);
    color: var(--default-text-color);
    border: 2px inset #333;
    font-size: medium;
    font-weight: 300;
}


input:hover{
    cursor: pointer;
}

input[type=text]:hover,input[type=search]:hover{
    cursor: text;
}
input:disabled{
    color: var(--disabled-text-color) !important;
    cursor: not-allowed !important;
}

.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

#information{
    width: 100%;
}